.homepage {
  display: flex;
  flex-direction: column;
  
  .collection-page {
    display: flex;
    flex-direction: column;
  
    .title {
      font-size: 38px;
      margin: 0;
      margin-bottom: 30px;
    }
  
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
  
      & .collection-item {
        margin-bottom: 30px;
      }
    } 

    
    @media only screen and (max-width: 650px) {
      .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      }


    }

    @media only screen and (max-width: 500px) {
      .items {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
      }
    }
    
  }  
}

@media only screen and (max-width: 500px) {
  .homepage {
    align-items: center;
  }

}





