.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  

  .logo-container {
    height: 100%;
    width: 70px;

    .logo {
      width: 50px;
      height: 50px;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

.header-bg {
  display: flex;
  flex-direction: row;
  background-color: darkviolet;
  border-radius: 5px;
  margin-bottom: 25px;
  height: 300px;
  align-items: flex-end;
  flex-wrap: wrap;

  .img-bg {
    width: 30%;
    height: 70%;
  }

 
}



